.nav-bar {
  gap: 2rem;
  display: flex;
  justify-content: center;
  background-color: linear-gradient(to bottom, #040007 0%, #04000791 70%, rgba(0, 0, 0, 0)100%);
}

.nav-bar-item {
  font-size: large;
  color: white !important;
}

.nav-bar-item.active {
  scale: 1.1;
  font-weight: 550;
}